<footer class="container-fluid bg-dark position-relative mt-5">
  <div class="row p-5">
    <div class="col">
      <h1 class="fs-3 fw-light"> X Rental </h1>
    </div>

    <div
      id="links"
      class="col d-flex justify-content-center align-items-center"
    >
      <a href="#" alt="" class="px-3 fs-5 link-light text-decoration-none">
        Merkez ofis: 
        <br>
        Alsancak mahallesi Kıbrıs Şehitleri Caddesi
      </a>
      <a href="#" alt="" class="px-3 fs-5 link-light text-decoration-none">
        İletişim:
        <br>
         05555555555
      </a>
    </div>
    <div
      id="social-medias"
      class="col d-flex justify-content-center align-items-center"
    >
      <a href="https://www.facebook.com/" alt="" class="px-3 fs-5 link-light text-decoration-none">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://www.instagram.com/" alt="" class="px-3 fs-5 link-light text-decoration-none">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="#" alt="" class="px-3 fs-5 link-light text-decoration-none">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#" alt="" class="px-3 fs-5 link-light text-decoration-none">
        <i class="fab fa-youtube"></i>
      </a>
    </div>
    <p id="credit" class="text-muted link m-0">
      by
      <a
        href="https://"
        target="_blank"
        class="link-secondary text-decoration-none"
        >Aynur Katırcıoğlu</a
      >
    </p>
  </div>
</footer>
