<div class="container">
  <div class="row">
    <app-search></app-search>
    <div class="col-xl-6 d-none d-xl-block">
      <img
        id="car-image"
        src="../../../assets/images/white-car.png"
        height="400"/>
    </div>
    <div class="col-xl-6 d-none d-xl-block">
      <img
        id="car-image"
        src="../../../assets/images/white-car.png"
        height="400"/>
    </div>
    <div id="steps" class="my-5">
      <p class="text-center text-muted"><strong>Nasıl araç kiralayabilirim? </strong></p>
      <h4 class="display-5 text-center">3 adımda aracınızı kiralayabilirsiniz.</h4>
      <div
        id="cards"
        class="d-flex justify-content-center align-items-center my-5">
        <div
          class="text-center card bg-light rounded-3 shadow align-items-center mx-3 m-lg-0"
        >
          <i class="fas fa-map-marker-alt fa-2x p-5 text-primary"></i>
          <h4 class="fw-bold">1 </h4>
          <p class="w-70">İstediğiniz lokasyonu seçin.</p>
        </div>
        <img
          src="../../../assets/images/line.svg"
          class="col-2 img-fluid seperator d-none d-lg-block"
        />
        <div
          class="text-center card bg-light rounded-3 shadow align-items-center mx-3 m-lg-0"
        >
          <div class="bg-primary-gradient rounded-2 shadow my-3 p-4">
            <i class="far fa-calendar-check fa-2x text-light"></i>
          </div>
          <h4 class="fw-bold">2</h4>
          <p class="w-70">Tarihlerinizi seçin</p>
        </div>
        <img
          src="../../../assets/images/line.svg"
          class="col-2 flip-vertical img-fluid seperator d-none d-lg-block"
        />
        <div
          class="text-center card bg-light rounded-3 shadow align-items-center mx-3 m-lg-0"
        >
          <i class="fas fa-car fa-2x p-5 text-primary"></i>
          <h4 class="fw-bold">3</h4>
          <p class="w-70">Aracınızı seçin ve kiralayın.</p>
        </div>
      </div>
    </div>
  </div>
</div>
